/*this file is for contact page*/
body{
  background-image: url('../img/593278.jpg');/*for the background image of the website*/
  background-size: cover;
  background-position: center;
}
header{/*This is header part*/
  background: black;
  color: white;
  padding: 1%;
  text-align: center;
  border-radius: 5px;
  opacity:0.6;/*helps to make transparent*/
}
header ul a{/*linking this page to contact.css*/
  text-decoration: none;
  color:white;
}

nav{
  background: darkgrey;
  color: black;
  padding:0.5%;
  border-radius: 5px;
  margin-top: 10px;
  opacity:0.6;

}
nav ul li{
   display: inline;
   padding: 0 25px 0 25px;
}
nav ul li:hover{
  background: black;
  border-radius: 5px;
}
nav ul a{
  text-decoration: none;
  color:white;
}


aside{
  width:8%;
  margin-top: 10px;
  background: darkgrey;
  padding: 85px;
  height: 230px;
  border-radius: 5px;
  float: left;
  opacity: 0.6;
}
article{

  margin-top: 10px;
  background: darkgrey;
  padding: 28px;
  height:343px;
  border-radius: 5px;
  float: right;
  width:75%;
  opacity:0.6;
}

footer{/*this is the footer of this page*/
  background: black;
  color: white;
  margin-top: 31%;
  border-radius: 5px;
  padding: 2.5%;
  height:3px;
  opacity:0.6;
}
footer .logo{

  float:right;


}
footer .copy{
  float: left;

}
@media screen and (max-width: 480px) /*For mobile */{
  body{
    background-image: url('../img/593278.jpg');
    background-size: cover;
    background-position: center;
    width:99%;
  }
  header{
    width:97%;
  }
  nav{
    padding: 0px;
    margin-top: 1px;
    float: left;
    width:99%;
    text-align: center;
  }
  nav ul li{
     display:list-item;
     padding: 0 25px 0 25px;
  }
  nav ul li:hover{
    background: black;
    border-radius: 5px;
  }
  nav ul a{
    text-decoration: none;
    color:white;
  }
  aside{
    width:44%;
    margin-top: 10px;
    background: darkgrey;
    padding: 85px;
    height: 200px;
    border-radius: 5px;
    float: left;
    opacity: 0.6;
  }


  article{
    margin-top: 3px;
    background: darkgrey;
    padding: 10px;
    height:362px;
    border-radius: 5px;
    float: left;
    width:93%;
    opacity:0.6;
  }

  footer{
    width:96%;
    background: black;
    color: white;
    margin-top:880px;
    border-radius: 5px;
    padding: 2.5%;
    height:45px;
    opacity:0.6;

  }

}
