/*this file is for cv page*/
/*for desktop*/
body{
  background-image: url('../img/593278.jpg');
  background-size: cover;
  background-position: center;
}
header{
  background: black;
  color: white;
  padding: 1%;
  text-align: center;
  border-radius: 5px;
  opacity:0.6;
}
header ul a{
  text-decoration: none;
  color:white;
}

nav{
  background: darkgrey;
  color: black;
  padding:0.5%;
  border-radius: 5px;
  margin-top: 10px;
  opacity:0.6;

}
nav ul li{
   display: inline;
   padding: 0 25px 0 25px;
}
nav ul li:hover{
  background: black;
  border-radius: 5px;
}
nav ul a{
  text-decoration: none;
  color:white;
}
article{
  margin-top: 10px;
  background: darkgrey;
  padding: 28px;
  height:313px;
  border-radius: 5px;
  float: right;
  width:96%;
  opacity:0.6;
}
aside .picture{
  max-width: 300px;
  border-radius: 5px;
}
footer{
  background: black;
  color: white;
  margin-top: 29%;
  border-radius: 5px;
  padding: 2.5%;
  height:3px;
  opacity:0.6;
}
footer .logo{

  float:right;


}
footer .copy{
  float: left;

}
@media screen and (max-width: 480px) /*For mobile */{
  body{
    background-image: url('../img/593278.jpg');
    background-size: cover;
    background-position: center;
    width:99%;
  }
  header{
    width:97%;
  }
  nav{
    padding: 0px;
    margin-top: 1px;
    float: left;
    width:99%;
    text-align: center;
  }
  nav ul li{
     display: list-item;
     padding: 0 25px 0 25px;
  }
  nav ul li:hover{
    background: black;
    border-radius: 5px;
  }
  nav ul a{
    text-decoration: none;
    color:white;
  }

  article{
    margin-top: 3px;
    background: darkgrey;
    padding: 0px;
    height:313px;
    border-radius: 5px;
    float: left;
    width:99%;
    opacity:0.6;
  }

  footer{
    width:90%;
    background: black;
    color: white;
    margin-top: 428px;
    border-radius: 5px;
    padding: 2.5%;
    height:45px;
    opacity:0.6;

  }

}
